:root{
    --main-orange:#FFB301;
    --main-blue:#00537F;
    --products-gray:#E1DDDD;
    --main-very-peri:#6666AB;
    --main-classic-blue:#of4c81;
    --main-ultra-violet:#5f4B8B;
    --main-serenity:#91A8D0;
    --main-illuminating:#f5df4d;
    --main-lying-coral:#ff6f61;
    --main-oreenery:#88B04B;    
    --transition-duration: 1s; 
            
}
